<table class="table table-hover">
    <tr>
        <td>
            Название: {{ material.name }}<br>
            Раздел: {{ material.section }}<br>
            {% if current_user.id == 1 %}
            <a class="button" href="{{ url_for('edit_material', id=material.id) }}">Редактировать</a>
            {% else %}
            <a class="button" href="{{ url_for('material', id=material.id) }}">Просмотреть</a>
            {% endif %}
        </td>
        <td style="text-align: right;">
            Дата добавления:<br> {{ material.date }}<br>
            <b>{% if date %}Дата прохождения:<br> {{ date }}{% endif %}</b>
        </td>
    </tr>
</table>
