{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ text }}</h1>
    <p>(Добавьте столько вопросов, сколько нужно)</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    {% if text == "Редактирование вопроса" %}<a class="button" href={{ url_for('index') }}>Закончить редактирование вопросов</a>
    {% else %}
    {% if num != '0' %}
        <a class="button" href={{ url_for('index', send_email_to_everyone=1, material_id=material_id) }}>Закончить добавление материала полностью</a>
    {% endif %}
    {% endif %}
{% endblock %}
