{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>{{ material.name }}</h2>
    <h3>{{ material.section }}</h3>
    <br>
    <p style="white-space: pre-wrap;">{{ text_doc }}</p>
    <h4>Прикрепленные файлы</h4>
    {% for file in files %}
        <a href="{{ url_for('donwload', filename=file) }}">{{ file }}</a><br>
    {% endfor %}
    <h5><a class="button" href="{{ url_for('test', material_id=material.id, num=0, count=count_tests) }}">Перейти к прохождению теста</a></h5>
{% endblock %}
