{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h3>Фамилия: {{ user.surname }}</h3>
                <h3>Имя: {{ user.name }}</h3>
                <h3>Отчество: {{ user.patronymic }}</h3>
                <h4>Должность: {{ user.position }}</h4>
                <h4>Организация: {{ user.organization }}</h4>
                <h4>Email: {{ user.email }}</h4>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Просмотренные материалы:</h3>
    {% if material_and_dates %}
    {% for material, date in material_and_dates %}
        {% include '_material.html' %}
    {% endfor %}
    {% else %}
    <h4>Список пуст</h4>
    {% endif %}
{% endblock %}
